.generateMain {
  width: 100%;
  height: 100vh;
  max-height: 100vh;
  padding: 10px;
  position: relative;
  /* background: var(--dark); */
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.generateMain .generateBox {
  width: 300px;
  height: 500px;
  max-height: 500px;
  background-image: url("../public/img/bg.svg");
  background-size: cover;
  background-position: center;
  color: var(--light);
  transition: 0.2s ease;
}

.generateMain .generateBox .top {
  width: 100%;
  height: auto;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

.generateMain .generateBox .top .circleB {
  width: 250px;
  height: 250px;
  position: relative;
  top: 20px;
  border-radius: 50%;
  background: #29282d;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.generateMain .generateBox .top .circleB .avatar {
  width: 180px;
  border-radius: 50%;
}

.generateMain .generateBox .top .circleB .langContA {
  position: absolute;
  left: -10px;
  top: 150px;
  padding: 15px;
  font-size: 56px;
  background: #2d2e32;
  box-shadow: 0px 0px 4px #000000a2;
  border-radius: 50%;
  color: var(--l-blue);
}

.generateMain .generateBox .top .circleB .langContB {
  position: absolute;
  right: 20px;
  top: 180px;
  padding: 15px;
  font-size: 70px;
  background: #2d2e32;
  box-shadow: 0px 0px 10px #000000a2;
  border-radius: 50%;
  color: var(--green);
}

.generateMain .generateBox .top .circleB .langContC {
  position: absolute;
  right: -5px;
  top: 30px;
  padding: 15px;
  font-size: 50px;
  background: #2d2e32;
  box-shadow: 0px 0px 4px #000000a2;
  border-radius: 50%;
  color: var(--l-purple);
}

.generateMain .generateBox .bottom {
  width: 100%;
  height: auto;
}

.generateMain .generateBox .bottom .top {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  position: relative;
  top: 40px;
  margin-bottom: 20px;
  width: 100%;
  height: auto;
}

.generateMain .generateBox .bottom .top h2,
.generateMain .generateBox .bottom .top h3 {
  margin: 0px;
  padding: 10px;
  line-height: 10px;
}

.generateMain .generateBox .bottom .top h3 {
  font-weight: 200;
}

.generateMain .generateBox .bottom .bottom {
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-direction: row;
  position: relative;
  top: 40px;
  margin-bottom: 20px;
  width: 100%;
  height: auto;
}

.generateMain .generateBox .bottom .bottom .box {
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
}

.generateMain .generateBox .bottom .bottom h2 {
  font-weight: 300;
}

.generateMain .generateBox .bottom .bottom .icon {
  opacity: 0.5;
}

.generateMain .action {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  /* width: 350px; */
  margin: 10px auto;
  position: fixed;
  right: 0px;
  top: 200px;
}

.generateMain .action .download {
  padding: 10px;
  font-size: 45px;
  margin: 10px;
  border-radius: 50%;
  background: var(--dark-m);
  transform: scale(0.8);
  transition: 0.2s ease;
  cursor: pointer;
  opacity: 0.7;
  box-shadow: 0px 0px 5px var(--dark);
}

.generateMain .action .share {
  padding: 10px;
  font-size: 45px;
  margin: 10px;
  border-radius: 50%;
  background: var(--dark-m);
  transform: scale(0.8);
  transition: 0.2s ease;
  opacity: 0.7;
  box-shadow: 0px 0px 5px var(--dark);
}

.generateMain .action .close {
  padding: 10px;
  font-size: 45px;
  margin: 10px;
  border-radius: 50%;
  color: red;
  background: rgba(255, 0, 0, 0.2);
  transform: scale(0.8);
  transition: 0.2s ease;
  opacity: 0.7;
  box-shadow: 0px 0px 5px var(--dark);
  cursor: pointer;
}

.generateMain .action .download:hover,
.generateMain .action .share:hover,
.generateMain .action .close:hover {
  transform: scale(0.9);
  transition: 0.2s ease;
  opacity: 1;
}
