.main {
  position: relative;
}

.footer {
  width: 100%;
  height: auto;
  position: fixed;
  bottom: 0px;
  left: 0px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: var(--dark);
  color: var(--light-m);
}

.footer .small {
  margin: 10px;
}

.footer .link {
  color: var(--green-m);
}
